@import url("https://fonts.googleapis.com/css2? family= Mukta:wght@200;500 & family= Nunito+Sans:ital,wght@1,200;1,400 & family= Raleway:wght@ 300 & family= Staatliches & display=swap");

* {
  margin: 0;
  padding: 0;
}

.containerproje {
  position: relative;
  margin-top: 5px;
}

.containerproje .slide-container .slide {
  max-height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 9%;
  padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje {
  flex: 1 1 350px;
  animation: slideContent 0.4s linear 0.4s  ;
}


@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.containerproje .slide-container .slide .contentproje h3 {
  font-size: 35px;
  color: #8eca0b;
  font-family: "Noto Sans", sans-serif;
}

.containerproje .slide-container .slide .contentproje p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 5px;
  width: 40%;
  height: 10%;
}

.containerproje .slide-container .slide .contentproje .bntproj {
  margin-top: 10px;
  display: inline-block;
  background: #3e5902;
  color: #ffffff;
  font-size: 25px;
  padding: 9px 40px;
  border-radius: 5px;
  border: 2px solid #3e5902;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  transition: .5s ease all;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover {
  background: #8eca0b;
  border: 2px solid #8eca0b;
  color: #ffffff;
 
}

.containerproje .slide-container {
  display: none;
}

.containerproje .slide-container.active {
  display: block;
}

.containerproje .slide-container:nth-child(1) .slide {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../Imagens/carousel/img002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../Imagens/carousel/img1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../Imagens/carousel/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.containerproje .slide-container:nth-child(4) .slide {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../Imagens/carousel/img3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.containerproje .slide-container:nth-child(5) .slide {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../Imagens/carousel/img4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.containerproje #prev,
.containerproje #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  background: #3e5902;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 50px;
  transition: .5s ease all;
}

.containerproje #prev:hover,
.containerproje #next:hover {
  background: #8eca0b;
}
.containerproje #prev {
  left: 20px;
}

.containerproje #next {
  right: 20px;
}

@media (max-width: 500px) {
  .containerproje #prev {
    left: 0px;
    top: 60%;
  }

  .containerproje #next {
    right: 0px;
    top: 60%;
  }

  .containerproje .slide-container .slide .contentproje p {
    font-size: 16px;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    width: 70%;
    height: 10%;
  }
}
