
/*Estilos do formulário de cadastro home modal */

.formulario-modal, .modalLogin{
    position: absolute;
    display: none;
    border: 2px solid #3E5902;
    background-color: #e3f4d7;
    border-radius: 20px;
    width: 80%;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: animatemodal;
    animation-duration: 800ms;
}

.form-doador {
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.form-doador [type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.radio{
    display: inline-block;
    margin-bottom: 5px;    
}

.form-doador [type=submit] , .form-coleta [type=submit] {
    display: block;
    cursor: pointer;
    background-color: #618c03;
    border: 1px solid #618c03;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0 0 0.5em black;
}

.form-doador [type=submit]:hover, .form-coleta [type=submit]:hover {
    opacity: 0.8;
}

.fechar{
    display: inline-block;
    position: absolute;
    text-align: center;
    right: 0;
    margin-right: 10px;
    font-size: 1.2em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: white;
    background-color: #618c03;
    border: 1px solid #618c03;
    border-radius: 50%;
}

/*Estilos gerais formulario*/

input {
    width: 100%;
    font-size: 1em;
    height: 35px;
    border: 1px solid #3E5902;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

select {
    font-size: 1em;
    width: 200px; 
    height: 40px;
    padding: 5px;
}

label {
    font-size: 1.2em;
    color: rgba(3, 3, 3, 0.993);
}

/*Estilos formulário coleta*/

.form-coleta{
    display: none;
    width: 100%;    
    background-color: #e3f4d7;
    flex-direction: column;
    padding: 20px;    
    animation: animatemodal;
    animation-duration: 800ms;
}

.form-coleta p{
    padding-bottom: 20px;
}

.form-coleta select{
    display: block;
}

/* Estilos modal login */


@media (min-width:640px) {  
      
    .form-doador [type=submit], .form-coleta [type=submit]{
        width: 180px;
    } 

    .formulario-modal{
        width: 50%;
    }
       
   
}
 
@keyframes animatemodal {
    from{opacity: 1;}
        
    
    from {opacity: 0;}
    
}
