/*Estilos do formulário de cadastro home */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
    height: 100%;
}

.opacity {
    width: 100%;
    height: 400px;
    background-color: black;
}

.texto-cadastro h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #618c03;
    font-size: 2.5rem;
    font-weight: 400;
}

.box {
    width: 100%;
    height: 400px;
    background-image: url(../Imagens/Agro.jpeg);
    opacity: 0.5;
    transition: 2.5s;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.formulario-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-doador {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.box:hover {
    opacity: 1.0;
}

.form-doador label {
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgba(3, 3, 3, 0.993);
    font-weight: 400;
}

input {
    width: 100%;
    height: 30px;
    padding: 5px;
}

select {
    font-size: 1em;
    width: 200px;
    height: 40px;
    padding: 5px;
}

label {
    font-size: 1.5rem;
}

.form-doador [type=submit] {
    cursor: pointer;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 25px;
}

.form-doador [type=submit]:hover {
    opacity: 0.8;
}

@media (min-width:640px) {
    .form-doador [type=submit] {
        margin-left: 0;
        width: 200px;
    }
    input {
        width: 400px;
    }
}

@media (min-width:1008px) {
    .form-doador {
        width: 50%;
    }
}