/*Estilos do header*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3E5902;
    height: 9vh;
}

.menu a{    
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu li:hover{    
    background-color: #BBC892;
    opacity: 0.7;
}

.menu li:hover a {    
    color: #172601;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    cursor: pointer;
    padding: 20px;
}


.logo{
    font-size: 24px;
    margin-left: 20px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu > div {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 8px;
    transition: 0.3s;
}

/* não está formando x (testar depois) 
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px); 
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, 5px);     
}
 */



/*Menu mobile*/

@media (max-width:640px){
    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
       top: 9vh;
        right: 0;
        width: 100%;
        height: auto;
        background: #3E5902;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .nav-list li{
        text-align: center;
        width: 100%;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #f2f2f2;
    }

    .nav-list a{
        display: block;
        width: 100%;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    .mobile-menu{
        display: block;
    }
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
    }
}
