/*Estilos da Home */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #e3f4d7;
    scroll-behavior: smooth;
    font-family: oxygen;
}

:root {
    --cor-primaria-success: #618c03;
    --cor-hover-success: #e7dfdf;
    --cor-secundaria-success: rgb(27, 66, 50);
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
}

p {
    text-align: center;
}

section .botao {
    background-color: #618c03;
    margin: 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    color: #78A614;
    text-align: center;
    margin-top: 50px;
    text-align: start;
}

.reflex {
    color: #78A614;
    text-align: center;
    text-align: start;
}

.content p {
    text-align: center;
    color: #618c03;
    font-weight: bold;
}

.texto-impacto {
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.texto-impacto p {
    text-align: center;
    padding: 10px;
}

.texto-impacto h2, 
.texto-impacto h1 {
    text-align: center;
    padding: 10px;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

.btn-success {
    background-color: #78A614;
    outline: none;
    color: var(--cor-secundaria-success)
}

.btn-success:hover {
    background-color: var(--cor-hover-success);
}

.btn-success:active {
    color: var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}


/*Sessão galeria */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.gallery-items {
    margin: 20px;
    width: 340px;
    height: 340px;
    flex-grow: 1;
    transition: transform .5s linear;
    box-shadow: 10px 10px 10px #0006;
    text-align: center;
    font-size: 20px;
}

.gallery-container .gallery-items a {
    background-color: #78A614;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover {
    transform: scale(0.9);
}


/* Sessão article */

.art {
    display: block;
    padding: 6% 2%;
}

.textoArtigo {
    margin-top: 2%;
    text-align: left;
}

#leiaMais1 {
    cursor: pointer;
}

#leiaMais2 {
    cursor: pointer;
}

#fecharLeiaMais1 {
    display: none;
    cursor: pointer;
}

#fecharLeiaMais2 {
    display: none;
    cursor: pointer;
}

.art2 {
    padding: 1% 4%;
    width: 100%;
    border-left: rgb(115, 115, 117) 2px solid;
    border-right: rgb(115, 115, 117) 2px solid;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

#textoArtigoHidden2 {
    display: none;
}

#textoArtigoHidden1 {
    display: none;
}


/*Botão Topo*/

#voltarTopo img {
    width: 50px;
    border-radius: 50%;
}

#subir {
    position: fixed;
    bottom: 0px;
    right: 0px;
}


/*Responsividade desktop*/

@media (min-width: 640px) {
    .art {
        display: flex;
    }
    .art2 {
        width: 49%;
        margin-bottom: 20px;
    }
}