/*Estilos da Home */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #e3f4d7;
    scroll-behavior: smooth;
    font-family: oxygen;
}

:root {
    --cor-primaria-success: #618c03;
    --cor-hover-success: #e7dfdf;
    --cor-secundaria-success: rgb(27, 66, 50);
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
}

p {
    text-align: center;
}

.cards1 img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 30%;
    margin-top: 40px;
}

section .botao {
    background-color: #618c03;
    margin: 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user {
    color: #78A614;
    text-align: center;
    margin-top: 50px;
    text-align: start;
}

.reflex {
    color: #78A614;
    text-align: center;
    text-align: start;
}

.content p {
    text-align: center;
    color: #618c03;
    font-weight: bold;
}

.imagens-impactantes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-impacto {
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.texto-impacto p {
    text-align: left;
}

.texto-impacto h2 {
    text-align: center;
}

#carrocel2 {
    width: 400px;
    height: 350px;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

.btn-success {
    background-color: #78A614;
    outline: none;
    color: var(--cor-secundaria-success)
}

.btn-success:hover {
    background-color: var(--cor-hover-success);
}

.btn-success:active {
    color: var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}


/*Sessão galeria */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.gallery-items {
    margin: 20px;
    width: 340px;
    height: 340px;
    flex-grow: 1;
    transition: transform .5s linear;
    box-shadow: 10px 10px 10px #0006;
    text-align: center;
    font-size: 20px;
}
.gallery-container .gallery-items a {
    background-color:#78A614;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover {
    transform: scale(0.9);
}

/* Sessão article */

.art {
    display: flex;
    padding: 2%;
}
.art2 {
    background-color: white;
    width: 50%;
    padding: 2%;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

/*seção de cards */

.container {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 280px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center; 
} 

.container .card img {
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 10px;
    text-align: center;
}

.container .card .content p {
    font-size: 1.1em;
    color: rgba(11, 61, 11, 0.527);
    transition: 0.5s;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #f5f6f3;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: #5a702a;
    color: white;
    margin-top: -30px;
    margin-bottom: 50px;
    box-shadow: 2px 20px 25px rgba(172, 190, 172, 0.527);
    border-color: black;
}

.container .card:hover .content p {
    color: #d5e2d6;
}

.container .card:hover .content a {
    color: black;
    background-color: #FFF;
}


/* Fim sessão de cards */


/*Responsividade desktop*/

@media (min-width: 640px) {
    .container {
        height: 500px;
    }
    .animation-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card-container {
        width: 35%;
        height: 60%;
    }
}

/* Responsividade para telas maiores

@media (min-width: 1008px) {
    .animation-cards {
        height: 600px;
    }

    .card-container {
        height: 60%;
    }
}