/*Estilos da Home */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #e3f4d7;
    scroll-behavior: smooth;
    font-family: oxygen;
}

:root {
    --cor-primaria-success: #618c03;
    --cor-hover-success: #e7dfdf;
    --cor-secundaria-success: rgb(27, 66, 50);
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
}

p {
    text-align: center;
}

.cards1 img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 30%;
    margin-top: 40px;
}

section .botao {
    background-color: #618c03;
    margin: 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cadastro1 {
    background-image: url(/Imagens/img2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    display: inline-block;
    text-align: start;
    padding: 30px;
    margin-top: 2px;
}

.user {
    color: #78A614;
    text-align: center;
    margin-top: 50px;
    text-align: start;
}

.reflex {
    color: #78A614;
    text-align: center;
    text-align: start;
}

.content p {
    text-align: center;
    color: #618c03;
    font-weight: bold;
}

.imagens-impactantes {
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-impacto {
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.texto-impacto p {
    text-align: left;
}

.texto-impacto h2 {
    text-align: center;
}

#carrocel2 {
    width: 400px;
    height: 350px;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

.btn-success {
    background-color: #78A614;
    outline: none;
    color: var(--cor-secundaria-success)
}

.btn-success:hover {
    background-color: var(--cor-hover-success);
}

.btn-success:active {
    color: var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.gallery-items {
    width: 340px;
    height: 340px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover {
    transform: scale(1.1);
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #3E5902;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #FFF;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #FFF;
}

.socials a img {
    font-size: 1.1rem;
    transition: color .4s ease;
    width: 30px;
    border-radius: 50%;
}

.footer-bottom {
    background-color: #3E5902;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* Sessão article */

.art {
    display: flex;
    padding: 2%;
}
.art2 {
    background-color: white;
    width: 50%;
    padding: 2%;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}

/*seção de cards */

.container {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 280px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center; 
} 

.container .card img {
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 10px;
    text-align: center;
}

.container .card .content p {
    font-size: 1.1em;
    color: rgba(11, 61, 11, 0.527);
    transition: 0.5s;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #f5f6f3;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: #5a702a;
    color: white;
    margin-top: -30px;
    margin-bottom: 50px;
    box-shadow: 2px 20px 25px rgba(172, 190, 172, 0.527);
    border-color: black;
}

.container .card:hover .content p {
    color: #d5e2d6;
}

.container .card:hover .content a {
    color: black;
    background-color: #FFF;
}


/* Fim sessão de cards */


/*Responsividade desktop*/

@media (min-width: 640px) {
    .container {
        height: 500px;
    }
    .animation-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card-container {
        width: 35%;
        height: 60%;
    }
}


/* Responsividade para telas maiores

@media (min-width: 1008px) {
    .animation-cards {
        height: 600px;
    }

    .card-container {
        height: 60%;
    }
}