@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
html,
body {
    height: 100%;
}

.opacity {
    width: 100%;
    height: 400px;
    background-color: black;
}

.texto-cadastro {
    text-align: center;
    color: #618c03;
    font-size: 1.2em;
}

.texto-cadastro h2 {
    font-weight: 400;
}

.box {
    width: 100%;
    height: 400px;
    background-image: url(../Imagens/Agro.jpeg);
    opacity: 0.5;
    transition: 2.5s;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box:hover {
    opacity: 1.0;
}


/*Estilos cards Depoimento*/

h1 {
    font-family: sans;
    font-size: 3rem;
    font-weight: 700px;
    margin-top: 40px;
}

.sessao-depoimentos {
    background-color: rgb(242, 242, 242);
    width: 100%;
}

.depoimento {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

#container {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 500px;
}

#carta {
    width: 90%;
    height: 90%;
    transform-style: preserve-3d;
    transition: all 1.0s ease;
    border-radius: 10%;
    box-shadow: inset 0 0 1em rgba(188, 231, 160, 0.582), 0 0 1em rgba(63, 73, 55, 0.733)
}

#container img {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#frente h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 20px;
}

#container:hover #carta {
    transform: rotateY(180deg);
}

#frente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #e3f4d8;
    color: #78A614;
    padding: 10px;
}

#atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(242, 242, 242);
    color: rgb(77, 92, 63);
    transform: rotateY(180deg);
}

#atras h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 15px;
}

#atras p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 6px;
}

.texto-depoimento {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    cursor: pointer;
    background-color: #618c03;
    border: 1px solid #618c03;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0 0 0.5em black; 
}

