/*Estilos gerais do site*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    outline: 0;
    
    font-family: "Source Sans Pro", "Times New Roman";
}

main p {
    font-size: 1.2em;
}

/*FOOTER*/

.footer {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    background: #3E5902;
    
    width: 100vw;
    font-size: 0.8em;
    color: #FFF;
    font-family: sans;
    margin-top: 20px;
    text-align: left;
    font-size: 1rem;
    line-height: 20px;
    bottom: 0;
}
#col1{
   margin: 15% auto;
    text-align: left;
}
.col2align{
    
margin: 15% auto;
text-align:center;

}
.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #FFF;
}

.socials a img {
    font-size: 1.1rem;
    transition: color .4s ease;
    width: 30px;
    border-radius: 50%;
}
#txtCont{
    margin: 1.5% 5%;
}
#col3{
    justify-content: space-evenly;

}
#nameForm, #mailForm, #messageForm{
    width: 80%;
    margin-left: 5%;
}
#submit-contact{
    width: 20%;
    margin-left: 5%;
}
