/*Estilos gerais do site*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    outline: 0;

    font-family: "Source Sans Pro", "Times New Roman";
}

main p {
    font-size: 1.2em;
}

/*Estilos do footer*/


footer {
    font-size: 0.9em;
    background: #3E5902;
}

#footer-content {
    display: flex;
    justify-content: center;
}

#footer-content span {
    text-align: center;
    padding-bottom: 10px;
    line-height: 20px;
}

.media-content {
    width: 49%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.media-content p {
    padding: 10px;
    font-weight: bold;
    color: white;

}

.media-content img {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo-tipo {
    width: 50%;
    margin: 0 auto;
}

.contact {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    width: 49%;
}

#contact-form {
    text-align: center;
}

.contact textarea {
    width: 90%;
    height: 100px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}


#txtCont {    
    margin: 1.5% 5%;
    color: white;
}

#nameForm,
#mailForm,
#messageForm {
    width: 80%;
    margin-left: 5%;
}

#submit-contact {
    width: 20%;
    margin-left: 5%;
    cursor: pointer;
    background-color: #618c03;
    font-weight: bold;
    color: white;
}

#submit-contact:hover {
    opacity: 0.8;
}




/* Responsividade mobile footer */

@media (max-width: 630px) {
    #footer-content {
      display: block;
      justify-content: center;
      flex-direction: column;
    }
    #logo-style {
      padding-top: 10px;
      padding-left: 10px;
    }
    .media-content {
      width: 100%;
      border: none;
    }
    .contact {
      width: 100%;
    }
  }
  


/*FOOTER SE NÂO FOR UTILIZAR MAIS DELETAR

.footer {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    background: #3E5902;
    
    width: 100vw;
    font-size: 0.8em;
    color: #FFF;
    font-family: sans;
    margin-top: 20px;
    text-align: left;
    font-size: 1rem;
    line-height: 20px;
    bottom: 0;
}
#col1{
   margin: 15% auto;
    text-align: left;
}
.col2align{
    
margin: 15% auto;
text-align:center;

}
.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #FFF;
}

.socials a img {
    font-size: 1.1rem;
    transition: color .4s ease;
    width: 30px;
    border-radius: 50%;
}

#col3{
    justify-content: space-evenly;

}